.wrapper{
    
}

.formsdiv {
    background-color: chartreuse;
}

#successImg {
    visibility: hidden;
}

#userImg{
    visibility: hidden;
}

#pwdDigitFail{
    visibility: hidden;
}

#pwdUpperFail{
    visibility: hidden;
}

#pwdLowerFail{
    visibility: hidden;
}
#studIDImg{
    visibility: hidden;
}